---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Clock from '../components/Clock';
---

<Layout title="Hangboarding clock">
	<main>
		<h1>Hangboarding clock</h1>
		<div class="main-content">
			<Card
				href="https://astro.build/integrations/"
				title="Integrations"
				body="Supercharge your project with new frameworks and libraries."
			/>
		</div>
		<Clock client:load></Clock>
	</main>
	<footer>Stuff</footer>
</Layout>

<style>
	main {
		display: grid;
		grid-template-columns: 1fr 5fr 1fr;
		grid-template-rows: repeat(5, 1fr);
		grid-column-gap: 0px;
		grid-row-gap: 0px;
		height: 90vh;
		width: 100vw;
	}
	h1 {
		grid-area: 1 / 2 / 2 / 3;
		font-size: 3rem;
		font-weight: 800;
	}
	.main-content {
		grid-area: 2 / 2 / 5 / 3;
	}
	footer {
		grid-area: 5 / 1 / 6 / 4;
		background-color: purple;
	}
</style>
